1. phase one (Master automation process)
data types
variables
conditionals
strings and list methods
indexing and slicing
forloops and while loops
dictionaries
file handling
functions
classes and objects

2. Phase two
Python importation methods bonus: programming Habits
python libraries (Datetime, pandas, numpy)
webscrapping and ETL handling with python
Api consumption (twitter api, reddit api, binance api, yahoo finance)



3. phase three (Pipieline development)
Data base integration with python (Postgresql, MongoDB)
python Flask
Api development (Fast api)
Data Visualization (Tableau, looker or Power Bi)

-- leet_code
-- Hacker rank
-- coder byte

#### Day One

In [11]:
#strings, integers, floats, booleans
print("true")

true

In [15]:
print(type("20"))

<class 'str'>

In [16]:
print(20+5)

25

In [23]:
a = 20.5
b = "5"
print(a+float(b))

25.5

In [33]:
x = input("enter your name: ")
print(f"your name is {x}")

enter your name: temi
your name is temi

In [30]:
name = input("eneter name: ")
birth_year = float(input("eneter year of birth: "))
print(f"{name}, was born in year {birth_year}, and is currently {2023-birth_year} years old")

eneter name: ruke
eneter year of birth: 1997
ruke, was born in year 1997.0, and is currently 26.0 years old

In [ ]:
###formular
# F = c(9/5) + 32
# c = f(5/9) - 32

In [43]:
temp = float(input("enter temperatur value: "))
unit = input("enter unit (f/c): ").lower()

if unit == "f":
    celcuis_val = (5/9) * (temp - 32)
    print(f"{round(celcuis_val, 2)} degree celcuis")
    
elif unit == "c":
    fahr = (9/5*temp) + 32
    print(f"{round(fahr, 3)} degree fahrenheit")
    
else:
    print("unknown inputs")

enter temperatur value: 48.89
enter unit (f/c): c
120.002 degree fahrenheit

In [46]:
##lower(), upper() ==> strings methods

In [64]:
##slicing and indexing for strings
b = "apple"
print(b)
print(b[1:4])

apple
ppl

In [62]:
#count method for strings
len(b)

5

In [56]:
a = "lothar"
index_val = a.index("t")
value_name = a[index_val]
print(f"the index is {index_val}, and the value is {value_name}")

the index is 2, and the value is t

In [57]:
a[2]

't'

In [65]:
print(b)

apple

In [69]:
print(b)

apple

In [91]:
# k = (a, b , c, d)
# summation k

In [86]:
b = "applepy"
for i in b:
    if i == "p":
        print(b.index(i))

1
1
1

In [92]:
for i in enumerate(b):
    print(i)

(0, 'a')
(1, 'p')
(2, 'p')
(3, 'l')
(4, 'e')
(5, 'p')
(6, 'y')

In [82]:
b = "applepy"
list_arr = []
for i in enumerate(b):
    if i[1] == "e":
        list_arr.append(i[0])
print(list_arr)

[4]

In [90]:
name = input("enter name: ")
sex = input("enter sex: ").lower()
birth_year = float(input("enter year of birth: "))
if sex == "m":
    print(f"{name}, was born in year {birth_year}, and he is currently {2023-birth_year} years old")
elif sex == "f":
    print(f"{name}, was born in year {birth_year}, and she is currently {2023-birth_year} years old")
else:
    print("unknown input")

enter name: chidinma
enter sex: f
enter year of birth: 2001
chidinma, was born in year 2001.0, and she is currently 22.0 years old

In [103]:
k = "daisy"
print(k)

daisy

In [104]:
l = "-".join(k)
print(l)

d-a-i-s-y

In [133]:
##string method
phone_number = "8164587891"
for i in range(0, len(phone_number)):
    if i == 3:
        print(i)
        break

3

In [ ]:
# ft - meters
# 1ft = 3.281m
# 2ft = 3.281*2
# write a python program that can do

In [5]:
dist = float(input('enter value: '))
unit = input("enter unit(ft/m): ").lower()
if unit == "ft":
    ft_meters = dist * 3.281
    print(f"{dist}{unit} is {ft_meters}meters")
elif unit == "m":
    meters_ft = dist/3.281
    print(f"{dist}{unit} is {ft_meters}ft")
else:
    print("unknown inputs")

enter value: 347
enter unit(ft/m): m
347.0m is 147.645ft

In [7]:
a = "adaobi"
for i in a:
    print(i.upper())

A
D
A
O
B
I

In [11]:
a.split()

['adaobi']

In [15]:
b_arr = []
for i in a:
    b_arr.append(i.upper())
print(b_arr)
print("".join(b_arr))

['A', 'D', 'A', 'O', 'B', 'I']
ADAOBI

In [26]:
u_data = ["obi", "tunde", "phil"]
y_data = ["Tobi", "tunde-bose", "phil_mac"]
# u_data.append(y_data)
# print(u_data)

In [25]:
b_data = u_data + y_data
print(b_data)

['obi', 'tunde', 'phil', 'Tobi', 'tunde-bose', 'phil_mac']

In [27]:
for i in y_data:
    u_data.append(i)
print(u_data)

['obi', 'tunde', 'phil', 'Tobi', 'tunde-bose', 'phil_mac']

In [38]:
b = "folakeobi"
d = ["ola", "jake", "Tariah", 10, True]
len(d)

5

In [45]:
for i in range(0, len(d)):
    print(d[i])

ola
jake
Tariah
10
True

In [68]:
a = "tobi"
for i in range(0, len(a)):
    print(i)

0
1
2
3

In [75]:
name = ["bola", "tolu", "emeka", "inyang", "yusuf"]
s_name = ["ubong", "idara", "oroma", "nkechi"]



b_arr = []
for i in range(0, len(name)):
    a = f"{name[i]}, {s_name[i]}"
    b_arr.append(a)
print(b_arr)

IndexError: list index out of range

In [78]:
for i in range(2):
    print("unknown")

unknown
unknown

In [80]:
a = ["unknown", "unknown"]
b = s_name + a
print(b)

['ubong', 'idara', 'oroma', 'nkechi', 'unknown', 'unknown']

In [81]:
####Dry ---> Don't repeat yourself

name = ["bola", "tolu", "emeka", "inyang"]
s_name = ["ubong", "idara", "oroma", "nkechi", "joke"]

#####if the arrays are equal
if len(name) == len(s_name):
    fullname_arr = []
    for i in range(0, len(name)):
        fullname = f"{name[i]} {s_name[i]}"
        fullname_arr.append(fullname)
    print(fullname_arr)
    

    
elif len(name) != len(s_name):
    fullname_arr = []
    
    if len(name) > len(s_name):
        count_name = len(name) - len(s_name)
        u_arr = []
        for i in range(count_name):
            u_arr.append("unknown")
            
        new_arr = s_name + u_arr
    
        for i in range(0, len(name)):
            fullname = f"{name[i]} {new_arr[i]}"
            fullname_arr.append(fullname)
        print(fullname_arr)
        

        
    elif len(s_name) > len(name):
        count_name = len(s_name) - len(name)
        u_arr = []
        for i in range(count_name):
            u_arr.append("unknown")
        new_arr = name + u_arr
        
        for i in range(0, len(s_name)):
            fullname = f"{new_arr[i]} {s_name[i]}"
            fullname_arr.append(fullname)
        print(fullname_arr)
        
else:
    print("An error i cant explain occurred!!!")

['bola ubong', 'tolu idara', 'emeka oroma', 'inyang nkechi', 'unknown joke']

In [106]:
cell_val = "2348164587891"
# k = "-".join(cell_val)
# print(k)
n = 3
num = []
for i in range(0, len(cell_val), n):
    num.append(cell_val[i:i+n])
    
print(num)
d = "-".join(num)
print(f"+{d}")

['234', '816', '458', '789', '1']
+234-816-458-789-1

In [16]:
type("james")

str

In [6]:
arr = ["james", "philemon", True, False, 2.67, 10, 21, 10, 6.19]
booleans = []
flt = []
integer = []
for i in arr:
    if type(i) == bool:
        booleans.append(i)
    elif type(i) == float:
        flt.append(i)
    elif type(i) == int:
        integer.append(i)
print(integer)

[10, 21, 10]

In [23]:
print(arr)

['james', 'philemon', True, False, 2.67, 10, 21, 10, 6.19]

In [28]:
c = "True"
type(bool(c))

bool

In [42]:
type(eval("10"))

int

In [58]:
arr = ['james', 'philemon', True, False, 2.67, 10, 21, 10, 6.19]
a = input("enter values from array: ")
n = input("enetr before/after: ")

print(type(a))
   ####gives you the index values
        
if type(a) == str:
    b = arr.index(a)
    if n == "after":
        vals = arr[b+1:]  ####gives you the answer 
        print(vals)
    else:
        b_vals = arr[:b]
        print(b_vals)

elif type(eval(a)) == bool:
    b = arr.index(bool(a))
    if n == "after":
        vals = arr[b+1:]  ####gives you the answer 
        print(vals)
    else:
        b_vals = arr[:b]
        print(b_vals)        

elif type(eval(a)) == float:
    b = arr.index(float(a))
    if n == "after":
        vals = arr[b+1:]  ####gives you the answer 
        print(vals)
    else:
        b_vals = arr[:b]
        print(b_vals)
        
elif type(eval(a)) == int:
    b = arr.index(int(a))
    if n == "after":
        vals = arr[b+1:]  ####gives you the answer 
        print(vals)
    else:
        b_vals = arr[:b]
        print(b_vals)

enter values from array: james
enetr before/after: after
<class 'str'>
['philemon', True, False, 2.67, 10, 21, 10, 6.19]

In [76]:
arr1 = ["jake", "kate", "leonard"]
arr2 = ["martin", "ben", "faith"]

for i in range(0, len(arr1)):
    arr_a = f"{arr1[i][0].upper()}{arr1[i][1:]}, {arr2[i][0].upper()}{arr2[i][1:]}"
    print(arr_a)

Jake, Martin
Kate, Ben
Leonard, Faith

In [84]:
for i in range(0, len(arr1)):
    print(arr1[i][0].upper() + arr1[i][1:], arr2[i][0].upper() + arr2[i][1:])

Jake Martin
Kate Ben
Leonard Faith

In [86]:
a = [1, 5, 10]
b = [6, 7, 1, 9]

for i in a:
    for n in b:
        print(i, n)

1 6
1 7
1 1
1 9
5 6
5 7
5 1
5 9
10 6
10 7
10 1
10 9

In [ ]:
Input: nums = [2,7,11,15], target = 17
Output: [0,1]
#Explanation: Because nums[0] + nums[1] == 9, we return [0, 1]

In [92]:
target = 17
nums = [2,7,11,15]
for i in nums:
    for n in nums:
        a = i + n
        if a == target:
            print([nums.index(i), nums.index(n)])

[0, 3]
[3, 0]

In [95]:
for i in nums:
    for n in nums:
        print(i, n)

2 2
2 7
2 11
2 15
7 2
7 7
7 11
7 15
11 2
11 7
11 11
11 15
15 2
15 7
15 11
15 15

In [97]:
for i in range(0, len(nums)):
    for n in range(i, len(nums)):
        sum_vals = nums[i] + nums[n]
        if sum_vals == target:
            print([i, n])

[0, 3]

In [101]:
arr1 = ["jake", "kate", "leonard"]
arr2 = ["martin", "ben", "faith"]

file = open("new_file2.txt", "w") ##### create 
for i in range(0, len(arr1)):
    arr_a = f"{arr1[i][0].upper()}{arr1[i][1:]}, {arr2[i][0].upper()}{arr2[i][1:]}\n"
    file.write(arr_a)

In [123]:
with open("new_file2.txt", "r") as a:
    d = a.read().split()
print(d)
#arr_data = []

print(len(d))
# for i in d:
#     print(i)

['Jake,', 'Martin', 'Kate,', 'Ben', 'Leonard,', 'Faith']
6

In [131]:
file = []
for i in range(0, len(d), 2):
    t = d[i:i+2]
    file.append(" ".join(t))
    
print(len(file))

3

In [138]:
with open("sum_numbers.txt", "r") as file:
    k = file.read().split(",")

k_sum = 0
for i in k:
    k_sum = float(i) + k_sum
print(k_sum)

126.0

In [ ]:
###finding uniques in arrays
## search algorithms
### max and min values

In [ ]:
###Big 0 notations

In [ ]:
# arr1 = ["jake", "kate", "leonard"]
# arr2 = ["martin", "ben", "faith"]

# #####output
# ja K e martiN
# kaTe beN
# leOnard faitH